[submodule "research"]
	path = research
	url = https://github.com/co-goods/research.git
	branch = main
	update = rebase
[submodule "grund"]
	path = grund
	url = https://github.com/depalmaworkshop/grund.git
	branch = main
